---
import { getCollection, type CollectionEntry } from "astro:content"
import InputLayout from "$/layouts/input.astro"
import { i18nPaths } from "$/utils/i18n/routing/article-page"
import ChapterGridMap from "$components/book/ChapterGridMap.astro"
import { splitLangSlug } from "$/utils/i18n/collection"

export async function getStaticPaths() {
  const collection = await getCollection("book")
  return i18nPaths(collection)
}

interface Props {
  page: CollectionEntry<"book">
  lang: string
}

const { page, lang } = Astro.props
const { slug } = Astro.params

const { Content } = await page.render()
const { slug: bookId } = splitLangSlug(page.slug)

const chapters = await getCollection("book_chapter", (entry) => {
  return entry.data.book_ref.slug === page.slug
})

const ogimage = `/og-image/${lang}/input/${slug}.png`
---

<InputLayout book={page} ogimage={ogimage} lang={lang}>
  <Content />
  <section class='grid gap-4'>
    <h2 class='text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary'>Progress & Note</h2>
    <ChapterGridMap bookId={bookId} chapters={chapters} />
  </section>
</InputLayout>
