---
import { SITE } from "$/config"
import SvgIcon from "./SvgIcon.astro"
import ModeSwitcherBtn from "./ModeSwitcherBtn.svelte"
import SearchBtn from "./SearchBtn.svelte"
import { Icon } from "astro-icon"
import { getLangSlug, splitPath } from "$/utils/i18n/slug"
import LanguageSwitcher from "./LanguageSwitcher.astro"

const slugLang = getLangSlug(splitPath(Astro.url.pathname))
const topUrl = `${SITE.base}/${slugLang ?? ""}`
---

<header class="header">
  <div class="header__meta">
    <h3 class="header__title dark:text-theme-dark-secondary">
      <a href={topUrl}>{SITE.name}</a>
    </h3>
    <div class="header__meta-more flex">
      <nav class="header__nav flex">
        <ul class="header__ref-list">
          <!-- <li>
            <SearchBtn client:visible />
          </li> -->
          <li>
            <a href="https://www.npmjs.com/~tomixy" title="npm">
              <Icon name="ri/npmjs-line" size="23" />
            </a>
          </li>
          <li>
            <a href={SITE.githubUrl} title="GitHub">
              <Icon name="mingcute/github-line" size="24" />
            </a>
          </li>
          <li>
            <a href={"https://twitter.com/" + SITE.authorTwitter} title="Twitter">
              <Icon name="humbleicons/brand-twitter" size="24" />
            </a>
          </li>
          <li>
            <ModeSwitcherBtn client:visible />
          </li>
          <li>
            <LanguageSwitcher currentLang={slugLang} />
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  .header {
    @apply flex gap-4 border-b py-3 /* border-gray-200 dark:border-gray-700 - check styles/global.css */;
    justify-content: center;
    container-type: inline-size;
    container-name: header;
  }
  .header__meta {
    display: flex;
    flex-direction: column;
    column-gap: 1.5rem;
    row-gap: 2.5rem;
    place-items: center;
  }
  .header__meta-more {
    padding-inline: 1rem;

    /* 見出しが改行する ? アイコンは中央揃え : アイコンは左寄せ */
    min-width: min(calc((100cqw - 100%)) * 999, 100cqw);
    justify-content: flex-end;
  }
  .header__title {
    @apply text-4xl font-extrabold md:text-5xl text-theme-secondary dark:text-theme-dark-secondary;
    text-align: center;
    line-height: normal;
  }
  .header__desc {
    @apply text-xl flex-1 dark:text-gray-200;
  }
  .header__ref-list {
    @apply flex gap-3 text-gray-400;
    align-items: center;
  }
  .header__ref-list > li {
    display: flex;
  }
</style>
