---
import { SITE } from "$/config"
import BaseHead from "$/components/BaseHead.astro"
import MainLayout from "$/components/MainLayout.astro"
import PageHeader from "$/components/index-page/PageHeader.astro"

interface Props {
  content: {
    title: string
    description: string
    ogimage?: string
  }
  lang: string | undefined
}

const { content, lang = "ja" } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={content.title ? `${SITE.title} | ${content.title}` : SITE.title}
      description={content.description}
      image={content.ogimage ?? "/og-image.png"}
    />
  </head>
  <MainLayout>
    <PageHeader title={content.title} subtitle={content.description} />
    <div class="page__content"><slot /></div>
  </MainLayout>
  <style>
    .page__content :global(h4) {
      @apply text-lg;

      border-image-source: linear-gradient(to right, currentColor, transparent);
      border-image-width: 0 0 1px 0;
      border-image-outset: 5px;
      border-image-slice: 1;

      /** 2行目以降字下げ */
      text-indent: -1em;
      padding-left: 1em;
    }
    .page__content :global(h4::before) {
      content: "$";
      padding-inline-end: 0.5em;
    }
    .page__content :global(h4 + p) {
      padding-inline-start: 0.5em;
    }
  </style>
</html>
