---
import { SITE } from "$/config"
import BaseHead from "$/components/BaseHead.astro"
import MainLayout from "$/components/MainLayout.astro"

interface Props {
  content: {
    title: string
    description: string
    ogimage?: string
  }
  showPageHeader?: boolean
  lang: string | undefined
}

const { content, showPageHeader = true, lang = "ja" } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={content.title ? `${SITE.title} | ${content.title}` : SITE.title}
      description={content.description}
      image={content.ogimage ?? "/og-image/index.png"}
    />
  </head>
  <MainLayout>
    {
      showPageHeader && (
        <div class="page__header">
          <h1 class="page__title">{content.title}</h1>
          <p class="page__desc">{content.description}</p>
        </div>
      )
    }
    <slot />
  </MainLayout>
  <style>
    .page__header {
      @apply pt-4 pb-12 mb-1;
    }
    .page__title {
      @apply text-5xl font-extrabold text-theme-primary dark:text-theme-dark-primary;
      line-height: 1.5;
    }
    .page__desc {
      @apply text-theme-secondary dark:text-theme-dark-primary;
    }
  </style>
</html>
