---
import type { CollectionEntry } from "astro:content"
import { SITE } from "$/config"
import MainLayout from "$/components/MainLayout.astro"
import BaseHead from "$/components/BaseHead.astro"
import Prose from "$/components/Prose.astro"
import AvatarImage from "$components/image-wrapper/AvatarImage.astro"
import PublishDate from "$components/article-header/PublishDate.astro"
import type { MarkdownHeading } from "astro"
import TocList from "$components/toc/TocList.astro"

interface Props {
  headings: MarkdownHeading[]
  content: CollectionEntry<"blog">["data"]
  ogimage?: string
  lang?: string
}
const { content, headings, ogimage, lang = "ja" } = Astro.props

const AUTHOR_NAME = SITE.author
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead {...content} image={ogimage} title={content.title ? `${SITE.title} | ${content.title}` : SITE.title} />
  </head>
  <MainLayout>
    <div class='post__header flex flex-col gap-8'>
      <h1 class='post__title'>{content.title}</h1>
      <p class='text-gray-500 dark:text-gray-100'>{content.description}</p>
      <div class='post__desc flex flex-row gap-2'>
        <AvatarImage className='avatar' />
        <div class='flex flex-col border-l-2 pl-2'>
          <span class='post__author'>{AUTHOR_NAME}</span>
          <PublishDate date={content.date} />
        </div>
      </div>
    </div>
    <div class='_toc flex flex-col gap-6 items-start p-6 sm:p-8 sm:mx-6 text-slate-600 dark:text-slate-100'>
      <h2 class='text-xl uppercase text-slate-500 dark:text-slate-200'>Contents</h2>
      <TocList headings={headings} />
    </div>
    <Prose>
      <div class='post__content text-lg leading-loose'><slot /></div>
    </Prose>
  </MainLayout>
  <style>
    .post__header {
      @apply py-4 mb-4 text-center md:text-left;
    }
    .post__title {
      @apply text-5xl font-extrabold text-theme-primary dark:text-theme-dark-primary;
      line-height: 1.5;
    }
    .post__desc {
      @apply text-gray-500 dark:text-gray-100 flex justify-center text-left md:flex-none md:justify-start;
    }
    .post__author {
      @apply no-underline text-gray-500 dark:text-gray-100 hover:text-theme-primary;
    }
    .avatar {
      @apply w-12 h-12 rounded-full object-cover p-1 border-2 border-solid border-theme-dark-primary dark:border-theme-primary;
    }
    .post__content :global(p > img) {
      --fluid-bp-320-600: calc((100vw - 320px) / (600 - 320));
      --__max-height: 300px;
      --__space: clamp(16px, (16px + (68 - 16) * var(--fluid-bp-320-600)), 68px);

      width: 100%;
      height: 100%;
      max-height: calc(var(--__max-height) + var(--__space) * 2);

      box-sizing: border-box;

      object-position: center;
      object-fit: contain;
    }

    ._toc {
      backdrop-filter: saturate(200%);
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 12px;
      border: 1px solid rgba(209, 213, 219, 0.3);
    }
    :global(.dark) ._toc {
      background-color: rgba(255, 255, 255, 0.2);
    }
  </style>
</html>
