---
import type { CollectionEntry } from "astro:content"
import { SITE, USE_AUTHOR_CARD, USE_SUBSCRIPTION } from "$/config"
import MainLayout from "$/components/MainLayout.astro"
import BaseHead from "$/components/BaseHead.astro"
import Prose from "$/components/Prose.astro"
import ArticleTitle from "$components/article-header/ArticleTitle.astro"
import AvatarImage from "$components/image-wrapper/AvatarImage.astro"
import ArticleSummary from "$/components/article-header/ArticleSummary.astro"
import TagList from "$/components/article-header/TagList.astro"
import PublishDate from "$/components/article-header/PublishDate.astro"
import CoverImage from "$/components/article-header/CoverImage.astro"
import ArticleMetaBlock from "$components/article-header/ArticleMetaBlock.astro"
import IconLinkList from "$/components/article-header/IconLinkList.astro"
import ArticleHeaderContentBlock from "$/components/article-header/ArticleHeaderContentBlock.astro"
import ArticleHeaderBlock from "$/components/article-header/ArticleHeaderBlock.astro"

interface Props {
  content: CollectionEntry<"project">["data"]
  ogimage?: string
  lang?: string
}
const { content, ogimage, lang = "ja" } = Astro.props

const AUTHOR_NAME = SITE.author
const AUTHOR_TWITTER = SITE.authorTwitter
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead {...content} image={ogimage} title={content.title ? `${SITE.title} | ${content.title}` : SITE.title} />
  </head>
  <MainLayout>
    <ArticleHeaderBlock>
      <ArticleHeaderContentBlock slot="content">
        <Fragment slot="heading">
          <TagList tags={content.tags} />
          <ArticleTitle title={content.title} overflow="fade" />
          <ArticleSummary summary={content.description} />
        </Fragment>
        <ArticleMetaBlock slot="meta">
          <IconLinkList
            links={[
              { url: content.url, icon: "line-md/external-link-rounded", label: "Visit Site" },
              { url: content.github, icon: "lucide:github", label: "GitHub" }
            ]}
          />
          <PublishDate date={content.date} />
        </ArticleMetaBlock>
      </ArticleHeaderContentBlock>
      <CoverImage slot="image" src={content.image} alt={content.title} />
    </ArticleHeaderBlock>
    <Prose>
      <slot />
    </Prose>
    <div class="post__footer">
      {
        USE_AUTHOR_CARD && (
          <div class="author-card">
            <AvatarImage className="author-card__img avatar avatar--lg" />
            <div class="author-card__meta">
              {AUTHOR_TWITTER ? (
                <a
                  class="author-card__author"
                  href={`https://twitter.com/${AUTHOR_TWITTER}`}
                  title={`${AUTHOR_NAME}'s twitter`}
                  target="_blank"
                  rel="external"
                >
                  {AUTHOR_NAME}
                </a>
              ) : (
                <span class="author-card__author">{AUTHOR_NAME}</span>
              )}
              <p class="author-card__bio">{SITE.authorBio}</p>
              <br />
              {USE_SUBSCRIPTION ? (
                <form action="" class="subscription-form">
                  <label for="email" />
                  <input
                    type="email"
                    name="email"
                    class="flex-grow border-0 text-theme-accent-gray-dark"
                    required="true"
                  />
                  <button type="submit">Subscribe</button>
                </form>
              ) : (
                <a
                  class="author-card__follow-btn button"
                  target="_blank"
                  href={`https://twitter.com/intent/follow?screen_name=${AUTHOR_TWITTER}`}
                >
                  Follow on Twitter
                </a>
              )}
            </div>
          </div>
        )
      }
    </div>
  </MainLayout>
  <style>
    .post__footer {
      @apply my-6;
    }
    .post__author {
      @apply no-underline dark:text-white hover:text-theme-primary;
    }
    .avatar {
      @apply w-12 h-12 rounded-full object-cover p-1 border-2 border-solid border-theme-dark-primary dark:border-theme-primary;
    }
    .avatar--lg {
      @apply w-32 h-32;
    }
    .author-card {
      @apply text-gray-500 dark:text-gray-100 flex flex-row gap-4 justify-start text-left;
    }
    .author-card__meta {
      @apply border-l pl-4;
    }
    .author-card__author {
      @apply text-2xl mb-1;
    }
    .author-card__bio {
      @apply text-gray-400;
    }

    .subscription-form {
      @apply w-4/6 mt-2 flex flex-row rounded-lg overflow-hidden shadow-lg;
    }
    .subscription-form input {
      @apply flex-grow border-0 text-theme-accent-gray-dark;
    }
    .subscription-form button,
    .button {
      @apply px-4 py-2 uppercase font-bold text-white bg-gradient-to-tr from-theme-primary to-theme-dark-secondary dark:from-theme-dark-secondary dark:to-theme-primary;
    }
    .author-card__follow-btn {
      @apply rounded-md shadow-md shadow-theme-dark-secondary dark:shadow-theme-primary hover:shadow-theme-secondary hover:dark:shadow-theme-secondary hover:shadow-lg transition-all;
      display: flex;
      text-align: center;
    }
  </style>
</html>
